.mainWrapper {
  flex: 1 1 0%;
  padding: 0px 16px;
}
.mainHead {
  display: flex;
  justify-content: flex-end;
}
.searchBox {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
}
.searchBox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 999px;
  background-color: #eee;
  transition: 0.4s;
}

.searchBox input ::-moz-placeholder {
  color: #888;
}
.searchBox input :-ms-input-placeholder {
  color: #888;
}
.searchBox input ::placeholder {
  color: #888;
}
.searchBox input:focus,
.searchBox input:valid {
  background-color: #313131;
  color: #fff;
}

.animeList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}
.animeCard {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  padding: 16px 8px;
}
.animeCard a {
  text-decoration: none;
}
.animeCard figure {
  display: block;
  margin-bottom: 16px;
}
.animeCard figure img {
  display: block;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.animeCard h3 {
  color: #313131;
}
.animeCard:hover figure img {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}
